<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="org.eclipse.equinox.p2.director.extended" point="org.eclipse.core.runtime.applications"> 
		<application
        cardinality="singleton-global"
        thread="main"
        visible="true"> 
			<run class="org.eclipse.equinox.p2.director.extended.DirectorApplication"/> 
		</application> 
	</extension>
	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="org.eclipse.equinox.p2.director.extended.application" name="Extended Equinox Provisioning Director" />
	</extension> 
	<!--extension id="org.eclipse.equinox.p2.director.extended.product" point="org.eclipse.core.runtime.products">
		<product application="org.eclipse.equinox.p2.director.extended" name="Extended Equinox P2 Director" />
	</extension-->
	
	<extension id="org.eclipse.equinox.p2.artifact.repository.extended.mirrorApplication"  point="org.eclipse.core.runtime.applications">
        <application cardinality="1" thread="main" visible="true">
            <run class="org.eclipse.equinox.p2.internal.repository.tools.extended.MirrorApplicationWithFilters" >
                <parameter name="metadataOrArtifacts" value="artifacts" />
            </run>
        </application>
    </extension>
    
    <extension id="org.eclipse.equinox.p2.metadata.repository.extended.mirrorApplication" point="org.eclipse.core.runtime.applications">
        <application cardinality="1" thread="main" visible="true">
            <run class="org.eclipse.equinox.p2.internal.repository.tools.extended.MirrorApplicationWithFilters">
                <parameter name="metadataOrArtifacts" value="metadata" />
            </run>
      </application>
   </extension>
	
	
	<!-- Support for http basic authentication with credentials written
	inside the url, debian style: http://USERNAME:PASSWORD@HOST:PORT/... -->
   <extension
         point="org.eclipse.ecf.provider.filetransfer.retrieveFileTransferProtocolFactory">
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientRetrieveFileTransferFactory"
            protocol="http"
            priority="10">
      </retrieveFileTransferProtocolFactory>
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientRetrieveFileTransferFactory"
            protocol="https"
            priority="10">
      </retrieveFileTransferProtocolFactory>
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientRetrieveFileTransferFactory"
            protocol="xhttp"
            priority="50">
      </retrieveFileTransferProtocolFactory>
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientRetrieveFileTransferFactory"
            protocol="xhttps"
            priority="50">
      </retrieveFileTransferProtocolFactory>
   </extension>

   <extension
         point="org.eclipse.ecf.provider.filetransfer.browseFileTransferProtocolFactory">
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientBrowseFileTransferFactory"
            protocol="http"
            priority="10">
      </browseFileTransferProtocolFactory>
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientBrowseFileTransferFactory"
            protocol="https"
            priority="10">
      </browseFileTransferProtocolFactory>
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientBrowseFileTransferFactory"
            protocol="xhttp"
            priority="50">
      </browseFileTransferProtocolFactory>
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.extended.XHttpClientBrowseFileTransferFactory"
            protocol="xhttps"
            priority="50">
      </browseFileTransferProtocolFactory>
   </extension>
	
</plugin>